<head>
    <title>Home Page</title>
</head>
<body>
    <div class = "container">
        <h1> Home </h1>
        <p>This is the {{ title }} page</p>

        <div class = "row">
         <div class = "col">

            <div class = "content">
                <h2>Create a new chatroom</h2>
            </div>

         </div>
         <div class = "col">

            <div class = "content">
                <h2>Join an existing chatroom</h2>
                <div class = "row" id = "rooms"></div>
            </div>

         </div>
        </div>

    </div>

</body>
